html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fontcolor {
    color: #000000;
}
.white {
    color: white;
}
.black {
    color: black;
}
.center {
    text-align: center;
}
.container1 {
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.container4 {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 10%;
}