@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card container1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h1></h1>
                            <p>ReadySet solutions offer advanced scheduling, device tracking, real-time notifications, invoice reconciliation and system reporting for OR, SPD and supply chain personnel. Integrated delivery networks, hospitals and surgery centers benefit via:</p>
                            <ul>
                                <li>
                                    Guaranteed “bill-only” charge compliance
                                </li>
                                <li>
                                    Proactive identification of non-contracted inventory requests
                                </li>
                                <li>
                                    Increased supply chain visibility
                                </li>
                                <li>
                                    Improved stakeholder communication and accountability
                                </li>
                                <li>
                                    Reductions in inventory-related OR delays
                                </li>
                                <li>
                                    Guaranteed “bill-only” charge compliance
                                </li>
                                <li>
                                    Analytics for vendor service levels and physician preference items
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 center">
                            <h4></h4>
                            <img src="~/capture_p4.png" height="250" width="300"/>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img height="250" width="300" src="~/capture_p1.png" /><h4></h4>
                        </div>
                        <div class="col-md-4">
                            <img height="250" width="300" src="~/capture_p2.png" /><h4></h4>
                        </div>
                        <div class="col-md-4">
                            <img height="250" width="300" src="~/capture_p3.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>